@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400&family=Trykker&family=Unica+One&display=swap');

:root {
    /*bg colors*/
    --background:#1B1A1A;
    /*text colors*/
    --primary: #ffffffde;
    --txtgrey:#64696b;
    /*decorations*/
    --secondary: #FBAE17;

    --color1: #ff8906;
    --color2:#a7a9be;
    --color3:#e53170;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Maitree';
    color: var(--primary);
}

body {
    background: var(--background);
}

 /*header*/
 header{
    background: var(--background);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    position: absolute;
    top: 0;
 }

.logo {
    width: 100%;
    height: 90px;
    margin-top: 10px;
 }

.logo:hover{
   transform: scale(1.1);
 }

/*login section*/

#login {
    padding: 70px;
   width: 100%;
   display: flex;
   flex-direction: column;
   max-width: 1200px;
}

.box-login{
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    max-width: 1200px;
}

.login-container{
    height: 380px; 
    width: 680px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 40px;
    max-width: 1200px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.6);
}

.login-container{
    background-image: url(./assets/layered-waves-haikei.png);
    background-repeat: no-repeat;
    height: 380px;
    background-position: center;
    background-size: cover;
}

.form-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content h2 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}

.input-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-boxes {
    margin-top: 20px;
}

.input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 85%;
}

.input-box input {
    height: 90%;
    width: 100%;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 3px;
    border-bottom: 2px solid var(--color2);
    text-align: center;
}

.button-input-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.button-input-box button {
    color: var(--primary);
    background: var(--color1);
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 15px;
    border: none;
    width: 100%;
    cursor: pointer;
}

.button-input-box button:hover {
    transform: scale(1.1);
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.text button {
    background: var(--color3);
    padding: 4px;
    border-radius: 8px;
    font-size: 15px;
    border: none;
    width: 60%;
    cursor: pointer;
}

.text button:hover{
    transform: scale(1.1);
}