@media (max-width: 376px) {
    .hero-info h1 {
        font-size: 27px;
    }

/*section register y login*/
    .right button{
        padding: 9px;
    }
    .tyc{
        text-align: center;
        align-items: center;
        font-size: small;
    }
    .right{
        padding: 25px 25px;
    }
    .log_input{
        padding: 7px;
    }
}

@media (max-width: 447px) {
    .hero-info h1 {
        font-size: 30px;
    }

/*section register y login*/
    .left, .rg_left {
        max-height: 70px;
    }
}

@media (max-width: 576px) {

    .hero-info h1{
        font-size: 48px;
    }

    #hero {
        width: 100%;
        height: 380px;
    }

    .navbar span {
        display: none;
    }

/*section museo*/
    #museo h2 {
        font-size: 43px;
    }

    .museo-info p {
        font-size: 1em;
    }
    
/*section galería*/
    #galeria h2 {
        font-size: 43px;
    }

    #galeria p {
        font-size: 1em;
    }

    .cards__container{
        gap: 25px;
    }

/*section eventos*/
    .events_cards_container{
        gap: 45px;
    }
    .event_card {
        max-width: 274px;
        padding: 8px;
    }

    .titulo_eventos p{
        font-size: 1em;
    }

/*section tickets*/
    #tickets h2 {
        font-size: 43px;
    }

    #tickets img {
        display: none;
    }

    .products-container{
        gap: 0;
    }

    .product-top p,
    .product-offer p {
        font-size: 17px;
    }

    .container__offer_info {
        max-width: 300px;
        padding: 10px;
    }

/*section contacto*/
    #contacto h2 {
        font-size: 43px;
    }

    .contact_txt{
        padding: 7px;
        font-size: 1em;
    }

/*section footer*/
    .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        padding: 35px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box__footer h3{
       text-align:  center;
       margin-top: 10px;
    }
    .box__footer h2{
        margin-top: 10px;
    }

    /*section register y login*/
    .log_container, 
    .rg_container{
        padding: 10px 50px;
    }
      .right button{
        padding: 9px;
    }
}

@media (max-width: 714px){
    .navbar ul {
        background-color:#242424;
        width: 90%;
        border: 1px solid #DFB755;
        border-radius: 5px;
        position: absolute;
        top: 65px;
        right: 0;
        left: 0;
        margin: auto;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        transform: translateY(-200%);
        transition: all 0.5s ease-out;
        font-size: 20px;
        padding: 20px;
    } 

    .btn-bar i {
        display: block;
    }

    #toggle-menu:checked ~ .nav__links {
        transform: translateY(0);
        transition: all 0.4s ease-in;
    }

    .hero-info {
        top: 10%;
    }
}

@media (max-width: 748px){
    .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        padding: 35px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .box__footer img {
       position: relative;
       left: 15px;
    }

    .box__footer h3 {
        text-align: center;
    }

    /*section register y login*/
    .rg_box {
        grid-template-columns: 1fr;
    }
    .rg_left{
        height: 200px;
        border: none;
    }
    .left {
        height: 200px;
    }
    .left {
        border: none;
    }
    .right h3 {
        font-size: 21px;
    }
    .right {
        border-top: 2px solid var(--negrosecond);
    }
    .log_box {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 817px) {
    .container__contact__elements{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}

@media (max-width: 862px) {
    .navbar span {
        display: none;
    }

    .nav__links li {
        display: inline-block;
        padding: 0px 5px;
    }

    /*section contacto*/
    #contacto {
        margin-bottom: 50px;
    }

    /*section footer*/
    footer {
        margin-top: 40px;
    }

    .grupo-1{
        width: 90%;
        grid-gap: 20px;
        padding: 35px 0px;
    }
}
