@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400&family=Trykker&family=Unica+One&display=swap');

:root {
   /*bg colors*/
    --background:#1B1A1A;
   /*text colors*/
    --primary: #ffffffde;
    --txtgrey:#64696b;
   /*deco*/
    --secondary: #FBAE17;
    --color1: #ff8906;
    --color2:#a7a9be;
    --color3: #f14d4d;
    --amarillosecond:#DFB755;
    --negrosecond:#242424;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
   color: var(--primary);
   font-family: 'Maitree';
}

body {
   background: var(--background);
}

/*header*/
header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 10%;
   background: var(--background);
   width: 100%;
   height: 70px;
   position: absolute;
   top: 0;
}

.logo {
   width: 100px
}

.logo:hover{
   transform: scale(1.1);
}

.nav__links li {
   display: inline-block;
   padding: 0px 15px;
}
 
.nav__links li a {
   transition: all 0.3s ease 0s;
   font-family: 'Unica One';
   font-size: 18px;
}

.nav__links li a:hover{
   color: var(--amarillosecond);
}

.nav-list-divider {
   border-right: 1px solid var(--color2);
   opacity: 0.5;
   height: 20px;
}

.ticket-icon:hover {  
  transform: scale(1.1);
}

.ticket-icon button {
   text-decoration: none;
   font-size: 18px;
   font-family: 'Unica One';
   background: transparent;
   border: none;
   cursor: pointer;
}

.ticket-icon button i {
color: var(--amarillosecond);
}

/*menu hamburguesa*/
.btn-bar i {
   font-size: 20px;
   cursor: pointer;
   display: none;
}

#toggle-menu {
   display: none;
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
}

/*hero*/
#hero {
   margin-top: 65px;
   padding: 70px 0;
   width: 100%;
   height: 550px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

video {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.capa {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: var(--background);
   opacity: 0.5;
   mix-blend-mode: overlay;
}

.hero-info{
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 100%;
   position: relative;
   z-index: 2;
   align-items: center;
   justify-content: center;
}

.hero-info h1 {
   font-size: 55px;
   width: 80%;
   min-width: 500px;
   font-weight: 500;
   text-align: center;
   font-family: 'Trykker';
}

.hero-info a {
   color: var(--primary);
   width: 145px;
   padding: 8px 1px;
   border: 1px solid #f2f2f2;
   border-radius: 5px;
   font-size: 16px;
   text-align: center;
   background: transparent;
}

.hero-info a:hover {
   background: #f2f2f2;
   color: var(--txtgrey);
}

/*section museo*/
#museo {
   padding: 40px 0px 10px 0px;
   width: 80%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 1200px;
}

#museo h2 {
   font-size: 42px;
   font-family: 'Unica One';
   font-weight: 500;
   text-align: center;
}

.museo-info p {
   font-size: 18px;
   letter-spacing: 1px;
   text-align: center;
   color: #c5c7e2;
}

.museo-info{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 30px;
}

.museo-img {
   display: flex;
   justify-content: center;
   align-items: center;
}

.museo-img img {
   max-width: 500px;
}

/*section galería*/
#galeria {
   padding: 40px 0;
   width: 80%;
   display: flex;
   flex-direction: column;
}

#galeria h2 {
   font-size: 42px;
   font-family: 'Unica One';
   font-weight: 500;
   text-align: center;
}

#galeria p {
   font-size: 18px;
   letter-spacing: 1px;
   text-align: center;
   color: #c5c7e2;
   padding: 10px;
}

.container {
   width: 100%;
   display: flex;
   justify-content: center;
   max-width: 1200px;
   flex-wrap: wrap;
   margin-top: 15px;
}

.card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 240px;
   margin: 15px;
   border-radius: 10px;
   overflow: hidden;
   background: gray;
   transition: all 400ms ease;
}

.card:hover {
  box-shadow: 6px 6px 20px rgb(0 0 0 / 0.4);
  transform: scale(1.1);
}

.card img {
   width: 100%;
   height: 290px;
   object-fit: cover;
}

.card .contenido {
   padding: 15px;
   text-align: center;
}

.card .contenido h3 {
   font-family: 'Trykker';
   font-size: 18px;
   letter-spacing: 1px;
   font-weight: 500;
   padding: 5px 0px;
}

.card .contenido a {
   text-decoration: none;
   display: inline-block;
   padding: 6px 8px;
   margin-top: 13px;
   border: 1px;
   border-radius: 5px;
   color: var(--primary);
   background:var(--amarillosecond);
   letter-spacing: 2px;
   font-weight: 600;
   font-size: 16px;
}

.card .contenido a:hover {
   background:#f2f2f2;
   color: var(--txtgrey);
}

.card i:hover{
   color: var(--txtgrey);
}

.card i {
   font-size: 12px;
}

.btn-vm button {
   text-decoration: none;
   color: var(--primary);
   background: var(--txtgrey);
   border: 1px;
   border-radius: 5px;
   padding: 6px 8px;
   font-weight: 600;
   font-size: 17px;
   letter-spacing: 1px;
   box-shadow: 6px 6px 20px rgb(0 0 0 / 0.4);
}

.btn-vm button:hover{
   color: var(--primary);
   background: var(--amarillosecond);
   border: 1px solid var(--amarillosecond);
}

.btn-vm {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   padding: 10px;
}

/*section eventos*/
#eventos {
   padding: 40px 0px;
   width: 90%;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.titulo_eventos h2 {
   font-size: 42px;
   font-family: 'Unica One';
   font-weight: 500;
   text-align: center;
}

.titulo_eventos p {
   font-size: 18px;
   letter-spacing: 1px;
   text-align: center;
   color: #c5c7e2;
   padding: 10px;
   margin: 5px;
}

.events_cards_container {
   display: flex;
   justify-content: center;
   gap: 30px;
   margin-top: 30px;
   flex-wrap: wrap;
}

.event_card {
   display: flex;
   flex-direction: column;
   max-width: 350px;
   height: 130px;
   background: var(--negrosecond);
   justify-content: center;
   border-radius: 5px;
   padding: 15px;
   box-shadow: 0 25px 25px -12px rgb(0 0 0 / 0.4);
}
.event_card:hover{
   transform: scale(1.1);
   transition: all 600ms ease;
}

.btn-cm button {
   text-decoration: none;
   color: var(--primary);
   background: var(--txtgrey);
   border: 1px;
   border-radius: 5px;
   padding: 6px 8px;
   font-weight: 600;
   font-size: 17px;
   letter-spacing: 1px;
   box-shadow: 6px 6px 20px rgb(0 0 0 / 0.4);
}

.btn-cm button:hover{
   color: var(--primary);
   background: var(--amarillosecond);
   border: 1px solid var(--amarillosecond);
}

.btn-cm {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   padding: 10px;
}

/*section tickets*/
#tickets {
   padding: 40px 0px 10px 0px;
   width: 90%;
   display: flex;
   flex-direction: column;
   max-width: 1200px;
}

#tickets h2 {
   font-size: 42px;
   font-family: 'Unica One';
   font-weight: 500;
   text-align: center;
}

.products-container {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 15px;
   padding: 30px  0px;
   max-width: 1200px;
}
 
.img_acc {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 40%;
   padding: 10px;
}

.img_acc img {
   width: 420px;
   box-shadow: 0 25px 25px -12px rgb(0 0 0 / 0.4);
   border: 1px solid hsl(0, 0%, 10%);
}

.product-info {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 30px;
   width: 480px;
   padding: 15px;
}

.product-top p,
.product-offer p {
   font-size: 19px;
   font-weight: 400;
   color: var(--primary);
}
 
.product-offer {
   display: flex;
   justify-content: center;
   width: 100%;
   gap: 20px;
}
 
.offer {
   display: flex;
   gap: 20px;
   align-items: center;
   font-weight: 600;
}
 
.btn-buy {
   background-color: var(--amarillosecond);
   border: none;
   padding: 10px 15px;
   color: var(--bg-white);
   border-radius: 10px;
   cursor: pointer;
   font-size: 15px;
   letter-spacing: 1px;
}

.btn-buy:hover {
   box-shadow: 6px 6px 20px rgb(0 0 0 / 0.4);
   transform: scale(1.1);
}

.linea {
   width: 60px;
   border: solid 1px var(--color2);
   border-radius: 5px;
}

/*section contacto*/
#contacto {
   padding: 40px 0px 10px 0px;
   width: 90%;
   display: flex;
   flex-direction: column;
   max-width: 1200px;
}

#contacto h2 {
   font-size: 42px;
   font-family: 'Unica One';
   font-weight: 500;
   text-align: center;
   margin-bottom: 20px;
}

#contacto h4 {
   font-size: 40px;
   font-family: 'Unica One';
   font-weight: 500;
   text-align: center;
   letter-spacing: 1px;
}

.contact__container {
   display: flex;
   max-width: 1200px;
   padding: 10px;
}

.contact__info {
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
}

.contact__info p {
   font-size: 16px;
   font-weight: 300;
   text-align: center;
   letter-spacing: 1px;
}

.container__inputs{
   display: flex;
   flex-wrap: wrap;
   width: 570px;
   height: 220px;
}

.container__contact__input{
   background-color:  hsl(0, 0%, 6%);
   border-radius: 5px;
   border: 1px solid  hsl(0, 0%, 6%);
   display: inline-block;
   justify-content: center;
   align-items: center;
   width: 175px;
   height: 120px;
   margin: 7px;
   padding: 6px;
   box-shadow: 6px 6px 20px rgb(0 0 0 / 0.4)
}

.icono_contacto {
   display: flex;
   justify-content: center;
   margin: 12px;
}
.icono_contacto i {
   color: var(--amarillosecond);
   font-size: 23px;
}

.mapa {
   width: 50%;
   height: 250px;
   display: flex;
   padding: 7px;
}

.mapa iframe {
   width: 100%;
   height: 230px
}

/*footer*/
footer {
   background: hsl(0, 0%, 7%);
   width: 100%;
   display:flex;
   align-items: center;
   justify-content: space-around;
   gap: 20px;
   padding: 18px 0px 14px 0px;
}

.grupo-1{
   width: 100%;
   max-width: 1200px;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 60px;
   padding: 15px 0px;
}

.grupo-1 .box__footer figure {
   width: 90%;
   height: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.box__footer figure img {
   width: 200px;
}

.box__footer h2 {
   font-size: 14px;
   margin-bottom: 25px;
   text-align: center;
   letter-spacing: 1px;
}

.box__footer li {
   font-size: 17px;
   text-decoration: underline;
   margin: 5px;
}

.ul__footer a:hover {
   color: var(--amarillosecond);
   transition: all 0.4s ease;
}

.box__footer h3 {
   font-size: 17px;
   text-align: initial;
   letter-spacing: 1px;
}

.box__footer p {
   text-align: initial;
   margin: 5px 0px;
   cursor: pointer;
}

.red-social{
   display: flex;
   justify-content: center;
}

.red-social a {
   width: 40px;
   height: 40px;
   margin-right: 10px;
   background: var(--negrosecond);
   border: 1px solid var(--txtgrey);
   display: inline-flex;
   justify-content: center;
   align-items: center;
   box-shadow: 6px 6px 20px rgb(0 0 0 / 0.4)
}

.red-social i {
   font-size: 24px;
   color: var(--primary);
}

.red-social i:hover{
   color: var(--amarillosecond);
   transform: scale(1.1);
   transition: all 0.4s ease;
}

.box__footer small{
   font-size: 14px;
   display: inline-block;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 15px;
}

.box__footer small span {
   color: var(--amarillosecond);
   font-weight: 600;
}

.box__footer small a {
   font-weight: 600;
   color: var(--amarillosecond);
}

/*scrollbar*/
html {
   scroll-behavior: smooth;
}

::-webkit-scrollbar{
	width: 8px;
}

::-webkit-scrollbar-thumb {
   background: var(--txtgrey);
   border-radius: 2px;
}

::-webkit-scrollbar-track{
   box-shadow:inset 0 0 6px rgba(0,0,0,.2);
}

/*login*/

#login{
   padding: 40px 0px 10px 0px;
   width: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 1200px;
}

.log_container{
   margin-top: 85px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   padding: 20px 100px;
}

.log_container::after {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: url(assets/DP146455.jpg) no-repeat center;
   background-size: cover;
   z-index: -1;
   filter: blur(50px);
}

.log_box{
   max-width: 850px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-content: center;
   align-items: center;
   text-align: center;
   background: #faf3ea;
}

.left {
   height: 100%;
   background: url(assets/abstract-bg.jpg) no-repeat center;
   background-size: cover;
   filter: opacity(90%);
   border: solid 8px #faf3ea;
}

.right {
   padding: 25px 40px;
   border-left: 2px solid var(--negrosecond);
}

.right h3 {
   position: relative;
   padding: 10px;
   margin-bottom: 10px;
   color: #1B1A1A;
   font-family:'Unica One';
   font-size: 25px; 
   font-weight: 800;
   letter-spacing: 1px;
}

.log_input {
   width: 100%;
   padding: 8px 16px;
   background-color:(230, 230, 230, 0.6);
   font-size: 17px;
   margin-bottom: 22px;
   transition:.3s;
   outline: none;
   border: 1px solid var(--negrosecond);
   border-radius: 5px;
}

.log_input:hover {
   background-color: rgba(0, 0, 0, 0.1);
}

.log_input:focus {
   background-color: #faf3ea;
   border: 1px solid var(--color3);
}

.right button{
   color: var(--primary);
   background: #1B1A1A;
   border: solid 1px #1B1A1A;
   border-radius: 5px;
   margin: 5px;
   padding: 10px 40px;
   cursor: pointer;
   font-size: 15px;
}

.btn_log{
   display: flex;
   justify-content: center;
   margin-top: 10px;
}

.right label{
   vertical-align: middle;
   color: var(--color3);
}

.right p {
   color: #1B1A1A;
   text-align: center;
}

.right a {
   border: solid 1px var(--negrosecond);
   border-radius: 5px;
   padding: 9px;
   cursor: pointer;
   display: flex;
   color: #242424;
   justify-content: center;
   margin-top: 10px;
}

.right a:hover {
   background: var(--negrosecond);
   color: var(--primary);
}

/*register*/

.rg_container{
   margin-top: 85px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   padding: 20px 100px;
}

.rg_container::after {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: url(assets/DP146455.jpg) no-repeat center;
   background-size: cover;
   z-index: -1;
   filter: blur(50px);
}

.rg_box{
   max-width: 850px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-content: center;
   align-items: center;
   text-align: center;
   background: #faf3ea;
}

.rg_left {
   height: 100%;
   background: url(assets/abstract-bg-1.jpg) no-repeat center;
   background-size: cover;
   filter: opacity(90%);
   border: solid 8px #faf3ea;
}

.right span {
   color: #f14d4d;
}

.tyc label{
   color: var(--negrosecond);
}