@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400&family=Trykker&family=Unica+One&display=swap');

:root {
   /*bg colors*/
    --background:#1B1A1A;
   /*text colors*/
    --primary: #ffffffde;
    --txtgrey:#64696b;
   /*deco*/
    --secondary: #FBAE17;
    --color1: #ff8906;
    --color2:#a7a9be;
    --color3: #f14d4d;
    --amarillosecond:#DFB755;
    --negrosecond:#242424;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
   color: var(--primary);
   font-family: 'Maitree';
}

body {
   background: var(--background);
}

/*header*/
header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 10%;
   background: var(--background);
   width: 100%;
   height: 70px;
   position: absolute;
   top: 0;
}

.logo {
   width: 100px
}

.logo:hover{
   transform: scale(1.1);
}

.nav__links li {
   display: inline-block;
   padding: 0px 20px;
}
 
.nav__links li a {
   transition: all 0.3s ease 0s;
   font-family: 'Unica One';
   font-size: 18px;
}

.nav__links li a:hover{
   color: var(--amarillosecond);
}

.nav-list-divider {
   border-right: 1px solid var(--color2);
   opacity: 0.5;
   height: 20px;
}

.ticket-icon:hover {  
  transform: scale(1.1);
}

.ticket-icon button {
   text-decoration: none;
   font-size: 18px;
   font-family: 'Unica One';
   background: transparent;
   border: none;
   cursor: pointer;
}

.ticket-icon button i {
color: var(--amarillosecond);
}

/*menu hamburguesa*/
.btn-bar i {
   font-size: 20px;
   cursor: pointer;
   display: none;
}

#toggle-menu {
   display: none;
}


main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
}

/*hero*/
#hero {
   margin-top: 65px;
   padding: 70px 0;
   width: 100%;
   height: 550px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

video {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.capa {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: var(--background);
   opacity: 0.5;
   mix-blend-mode: overlay;
}

.hero-info{
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 100%;
   position: relative;
   z-index: 2;
   align-items: center;
   justify-content: center;
}

.hero-info h1 {
   font-size: 55px;
   width: 80%;
   min-width: 500px;
   font-weight: 500;
   text-align: center;
   font-family: 'Trykker';
}

.hero-info a {
   color: var(--primary);
   width: 145px;
   padding: 8px 1px;
   border: 1px solid #f2f2f2;
   border-radius: 5px;
   font-size: 16px;
   text-align: center;
   background: transparent;
}

.hero-info a:hover {
   background: #f2f2f2;
   color: var(--txtgrey);
}

/*section museo*/
#museo {
   padding: 40px 0px 10px 0px;
   width: 80%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 1200px;
}

#museo h2 {
   font-size: 50px;
   font-family: 'Unica One';
   font-weight: 500;
   text-align: center;
}

.museo-info p {
   font-size: 20px;
   letter-spacing: 1px;
   text-align: center;
   color: #c5c7e2;
}

.museo-info{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 30px;
}

.museo-img {
   display: flex;
   justify-content: center;
   align-items: center;
}

.museo-img img {
   max-width: 500px;
}

/*section galería*/
#galeria {
   padding: 40px 0;
   width: 80%;
   display: flex;
   flex-direction: column;
}

#galeria h2 {
   font-size: 50px;
   font-family: 'Unica One';
   font-weight: 500;
   text-align: center;
}

.container {
   width: 100%;
   display: flex;
   justify-content: center;
   max-width: 1200px;
   flex-wrap: wrap;
}

.card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 250px;
   margin: 20px;
   border-radius: 10px;
   overflow: hidden;
   background: gray;
   transition: all 400ms ease;
}

.card:hover {
  box-shadow: 6px 6px 20px rgb(0 0 0 / 0.4);
  transform: scale(1.1);
}

.card img {
   width: 100%;
   height: 290px;
   object-fit: cover;
}

.card .contenido {
   padding: 15px;
   text-align: center;
}

.card .contenido h3 {
   font-family: 'Trykker';
   font-size: 16px;
   letter-spacing: 1px;
   font-weight: 500;
   letter-spacing: 1px;
}

.card .contenido a {
   text-decoration: none;
   display: inline-block;
   padding: 6px 8px;
   margin-top: 10px;
   border: 1px;
   border-radius: 5px;
   color: var(--primary);
   background:var(--amarillosecond);
   letter-spacing: 1px;
}

.card .contenido a:hover {
   background:#f2f2f2;
   color: var(--txtgrey);
}

.card i:hover{
   color: var(--txtgrey);
}

.card i {
   font-size: 12px;
}

.btn-vm button {
   text-decoration: none;
   color: var(--primary);
   background: var(--txtgrey);
   border: 1px;
   border-radius: 5px;
   padding: 6px 8px;
   font-weight: 500;
   font-size: 16px;
}

.btn-vm button:hover{
   color: var(--primary);
   background: var(--amarillosecond);
   border: 1px solid var(--amarillosecond);
}

.btn-vm {
   display: flex;
   padding: 30px 0px 20px 0px;
}
/*section eventos*/
#eventos {
   padding: 40px 0px;
   width: 90%;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.titulo_eventos h2 {
   font-size: 50px;
   font-family: 'Unica One';
   font-weight: 500;
   text-align: center;
}

.events_cards_container {
   display: flex;
   justify-content: center;
   gap: 30px;
   margin-top: 30px;
   flex-wrap: wrap;
}

.event_card {
   display: flex;
   flex-direction: column;
   max-width: 350px;
   height: 130px;
   background: var(--negrosecond);
   justify-content: center;
   border-radius: 5px;
   padding: 15px;
   box-shadow: 0 25px 25px -12px rgb(0 0 0 / 0.4);
}
.event_card:hover{
   transform: scale(1.1);
   transition: all 600ms ease;
}

/*section tickets*/
#tickets {
   padding: 40px 0px 10px 0px;
   width: 100%;
   display: flex;
   flex-direction: column;
   max-width: 1200px;
}

#tickets h2 {
   font-size: 50px;
   font-family: 'Unica One';
   font-weight: 500;
   text-align: center;
}

.products-container {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 15px;
   padding: 30px 0px 10px 0px;
   max-width: 1200px;
   width: 100%;
}
 
.products {
   padding: 20px;
   border-radius: 15px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-bottom: 20px;
   width: 100%;
}
 
.product-info {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   gap: 20px;
   padding: 30px 0px;
}
 
.product-top,
.product-mid,
.product-bot {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.product-top p,
.product-offer p {
   font-size: 19px;
   font-weight: 400;
   color: var(--primary);
}
 
.product-offer {
   display: flex;
   justify-content: space-between;
   width: 100%;
   gap: 20px;
}
 
.offer {
   display: flex;
   gap: 20px;
   align-items: center;
   font-weight: 600;
}
 
.btn-buy {
   background-color: var(--amarillosecond);
   border: none;
   padding: 10px 15px;
   color: var(--bg-white);
   border-radius: 10px;
   cursor: pointer;
   font-size: 15px;
   letter-spacing: 1px;
}

.btn-buy:hover {
   box-shadow: 6px 6px 20px rgb(0 0 0 / 0.4);
   transform: scale(1.1);
}

#tickets img {
   width: 45%;
   height: 350px;
   padding: 20px;
   margin: 0px 20px;
}

.linea {
   width: 60px;
   border: solid 1px var(--color2);
   border-radius: 5px;
}

/*section contacto*/
#contacto {
   padding: 10px 10px 50px 10px;
   width: 100%;
   display: flex;
   flex-direction: column;
   max-width: 1200px;
}

#contacto h2 {
   font-size: 50px;
   font-family: 'Unica One';
   font-weight: 500;
   text-align: center;
   margin-bottom: 20px;
}

#contacto h4 {
   font-size: 40px;
   font-family: 'Unica One';
   font-weight: 500;
   text-align: center;
   letter-spacing: 1px;
}

.contact__container {
   display: flex;
   max-width: 1200px;
   padding: 10px;
}

.contact__info {
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
}

.contact__info p {
   font-size: 16px;
   font-weight: 300;
   text-align: center;
   letter-spacing: 1px;
}

.container__inputs{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   width: 100%;
   height: 40%;
}

.container__contact__input{
   background-color:  hsl(0, 0%, 6%);
   border-radius: 10px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   padding: 10px;
   width: 35%;
   height: 80%;
   margin: 5px;
}

.container__contact__input i {
   font-size: 15px;
   align-self: center;
   color: var(--amarillosecond);
}

.mapa {
   width: 50%;
   height: 250px;
   display: flex;
   padding: 7px;
}

.mapa iframe {
   width: 100%;
   height: 230px
}

/*footer*/
footer {
   background: hsl(0, 0%, 7%);
   width: 100%;
   display:flex;
   align-items: center;
   justify-content: space-around;
   gap: 20px;
   padding: 18px 0px 14px 0px;
}

.grupo-1{
   width: 100%;
   max-width: 1200px;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 60px;
   padding: 15px 0px;
}

.grupo-1 .box__footer figure {
   width: 90%;
   height: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.box__footer figure img {
   width: 200px;
}

.box__footer h2 {
   font-size: 14px;
   margin-bottom: 25px;
   text-align: center;
   letter-spacing: 1px;
}

.box__footer li {
   font-size: 17px;
   text-decoration: underline;
   margin: 5px;
}

.ul__footer a:hover {
   color: var(--amarillosecond);
   transition: all 0.4s ease;
}

.box__footer h3 {
   font-size: 17px;
   text-align: initial;
   letter-spacing: 1px;
}

.box__footer p {
   text-align: initial;
   margin: 5px 0px;
   cursor: pointer;
}

.red-social{
   display: flex;
   justify-content: center;
}

.red-social a {
   width: 40px;
   height: 40px;
   margin-right: 10px;
   background: #242536;
   display: inline-flex;
   justify-content: center;
   align-items: center;
}
.red-social i {
   font-size: 24px;
   color: var(--primary);
}

.red-social i:hover{
   color: var(--amarillosecond);
   transform: scale(1.1);
   transition: all 0.4s ease;
}

.box__footer small{
   font-size: 14px;
   display: inline-block;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 15px;
}

.box__footer small span {
   color: var(--amarillosecond);
   font-weight: 600;
}

.box__footer small a {
   font-weight: 600;
   color: var(--amarillosecond);
}

/*scrollbar*/
html {
   scroll-behavior: smooth;
}

::-webkit-scrollbar{
	width: 8px;
}

::-webkit-scrollbar-thumb {
   background: var(--txtgrey);
   border-radius: 2px;
}

::-webkit-scrollbar-track{
   box-shadow:inset 0 0 6px rgba(0,0,0,.2);
}

/*login*/
#login{
   margin-top: 75px;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.contenedor-login {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 550px;
   width: 400px;
   background: #faf3ea;
   filter: opacity(90%);
}

.iniciar {
   height: 85vh;
   width: 30vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 20px;
   border-right: solid 2px #242536;
}

.login-bg {
   width: 40%;
   height: 550px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 8px;
   background-image: url(assets/abstract-bg.jpg);
   background-size:cover;
   background-repeat: no-repeat;
   background-position: center;
   filter: opacity(90%);
   border: solid 10px #faf3ea;
}

.login-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.login-form h3{
   color: #1B1A1A;
   font-family:'Unica One';
   font-size: 25px; 
   font-weight: 800;
   letter-spacing: 1px;
   margin-bottom: 20px;
   padding: 10px;
}

.input-box input {
   color: #1B1A1A;
   border: solid 1px #1B1A1A;
   border-radius: 5px;
   margin: 7px;
   padding: 8px 17px;
}

.button-input-box button{
   color: var(--primary);
   background: #1B1A1A;
   border: solid 1px #1B1A1A;
   border-radius: 5px;
   margin: 5px;
   padding: 8px 20px;
   cursor: pointer;
   font-size: 15px;
}

.text {
   margin: 10px;
}

.text a {
   color: #1B1A1A;
   border: solid 1px #1B1A1A;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   margin-top: 10px;
   padding: 5px 50px;
}

.text a:hover{
   color: var(--primary);
   background: #1B1A1A;
}

.remember label {
   vertical-align: middle;
   color: #f14d4d;
   padding: 10px;
   text-indent: 8px;
   display: flex;
   justify-content: center;
}

/*register*/

#register{
   margin-top: 75px;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.contenedor-register {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 550px;
   width: 70%;
   background: #faf3ea;
   filter: opacity(90%);
}

.register {
   border-left: 2px solid #242536;
   height: 85vh;
   width: 30vw;
   display: flex;
   flex-direction: column;
   padding: 35px;
}

.register-bg{
   width: 56%;
   height: 550px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 8px;
   background-image: url(assets/abstract-bg-1.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   filter: opacity(90%);
   border: solid 8px #faf3ea;
}

.register-form h3{
   color: #1B1A1A;
   font-family:'Unica One';
   font-size: 25px; 
   font-weight: 800;
   letter-spacing: 1px;
   padding: 10px;
   text-align: center;
}

.box-1 {
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.box-2 {
   padding: 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 5px;
}

.rg-input-box input {
   color: #1B1A1A;
   border: solid 1px #1B1A1A;
   border-radius: 5px;
   margin: 7px;
   padding: 8px 17px;
}

.button-rg-input-box button{
   color: var(--primary);
   background: #1B1A1A;
   border: solid 1px #1B1A1A;
   border-radius: 5px;
   margin: 5px;
   padding: 8px 20px;
   cursor: pointer;
   font-size: 15px;
}

.tyc {
   display: flex;
   align-items: center;
   height: 60px;
   width: 230px;
   padding: 22px;
   margin: 5px;
}

.tyc span{
   color: #f14d4d;
}

.tyc label{
   vertical-align: middle;
   color: #1B1A1A;
}

.text p {
   color: #1B1A1A;
   text-align: center;
}


